label {
  min-height: 50px;
  min-width: 100px;
}

.rec {
  display: none;
}

.btn {
  float: right;
  margin-right: 20px;
  margin-top: 30px;
}

.panel {
  margin-top: 50px;
}

.jumbotron {
  background-color: #6f5499;
  color: white;
}

.well {
  background-color: orange;
}
