label {
  display: block;
  height: 80px;
}

.rec {
  display: none;
}

.btn {
  float: right;
  margin-right: 20px;
  margin-top: 30px;
}

.panel {
  margin-top: 50px;
}

.jumbotron {
  background-color: #6f5499;
  color: white;
}

.well {
  background-color: orange;
}

.copyright {
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
